@{
    Validation.RequireField("name", "Je moet een naam invoeren");
    

    string name = "";
    string description = "";
    string link = "";
    int priority;

    if(IsPost && Validation.IsValid()){
        name = Request.Form["name"];
        description = Request.Form["description"];
        link = Request.Form["link"];
        priority = Request.Form["priority"];

        var db = Database.Open("test");
        string insertWishlist = "INSERT INTO items (user_id, name, description) VALUES(@0, @1, @2)";
        db.Execute(insertWishlist, user_id, name, description);
    }

    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <form method="post">
            <label for="name">Naam wenslijst</label>
            <input type="text" id="name" name="name" placeholder="Naam wenslijst">
            <span style="color: red;">*@Html.ValidationMessage("name")</span>

            <label for="description">Beschrijving wenslijst</label>
            <input type="text" id="description" name="description" placeholder="Beschrijving wenslijst">

            <label for="link">Link naar cadeau</label>
            <input type="text" id="link" name="link" placeholder="Link">

            <label for="priority">Prioriteit</label>
            <select id="priority" name="priority">
                <option value= "1">Hoog</option>
                <option value="2">Middel</option>
                <option value="3">Laag</option>
            </select>

            <button type="submit" name="Add_item" class="btn btn-primary" value="Add_item">Cadeau toevoegen</button>
        </form>
    </body>
</html>
