@{
    Validation.RequireField("name", "Je moet een naam invoeren");
    
    int user_id = Convert.ToInt32(Session["user_id"]);
    int wishlist_id = Convert.ToInt32(Session["wishlist_id"]);
    string name = "";
    string description = "";
    string link = "";
    int priority;

    if(IsPost && Validation.IsValid()){
        name = Request.Form["name"];
        description = Request.Form["description"];
        link = Request.Form["link"];
        priority = Convert.ToInt32(Request.Form["priority"]);

        var db = Database.Open("test");
        string selectItems = "SELECT * FROM items where wishlist_id = @1";
        string insertItem = "INSERT INTO items (wishlist_id, user_id, name, description) VALUES(@0, @1, @2, @3)";
        db.Execute(insertItem, user_id, name, description);
    }

    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        @foreach (var item in db.Query(selectItems, wishlist_id)){
            <p>@wishlist.name @wishlist.description @wishlist.wishlist_link</p>
        }
        <form method="post">
            <label for="name">Naam cadeau</label>
            <input type="text" id="name" name="name" placeholder="Naam wenslijst">
            <span style="color: red;">*@Html.ValidationMessage("name")</span>

            <label for="description">Beschrijving cadeau</label>
            <input type="text" id="description" name="description" placeholder="Beschrijving wenslijst">

            <label for="link">Link naar cadeau</label>
            <input type="text" id="link" name="link" placeholder="Link">

            <label for="priority">Prioriteit</label>
            <select id="priority" name="priority">
                <option value= "1">Hoog</option>
                <option value="2">Middel</option>
                <option value="3">Laag</option>
            </select>

            <button type="submit" name="Add_item" class="btn btn-primary" value="Add_item">Cadeau toevoegen</button>
        </form>
    </body>
</html>
