@using System.Xml.Linq
@{
    //authentication ALWAYS FIRST
    if (!Security.IsAuthenticated())
    {
        Response.Redirect("Login");
    }

    var wishlists = new List<Wishlist>();

    //wishlists.Add(new Wishlist(1, "kekke lijst", "allemaal kekke items hier", save: true));
    string user_link = Session["user_link"].ToString();
    var db = Database.Open("test");

    //just skip the insane query
    string GetQuery = "SELECT * FROM wishlists WHERE wishlist_link IN" +
                      "(SELECT wishlist_link FROM has WHERE user_link=@0)";

    foreach (var row in db.Query(GetQuery, user_link))
    {
        wishlists.Add(new Wishlist(row.user_id, row.name, row.description, row.wishlist_link, row.wishlist_id));
    }

    Layout = "_Layout.cshtml";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Wenslijsten
            <small>IdunnoWhatToPlaceHere</small>
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- A for loop which displays each wishlist in wishlists -->
@foreach (Wishlist wishlist in wishlists)
{
    <!-- Wishlist Row -->
    <div class="row">

        <div class="col-md-12 portfolio-item">
            <a href="Item?wishlist_id=@wishlist.wishlist_id">
                <!-- Change size in url -->
                <!-- <img class="img-responsive img-thumbnail center-block" src="http://placehold.it/750x200" alt="kappa"> -->
                    <h1>@wishlist.name</h1>
                    <small>@wishlist.description</small>
            </a>
        </div>
    </div>
    <!-- /.row -->
}