@using System.Xml.Linq
@{
    //authentication ALWAYS FIRST
    if (!Security.IsAuthenticated())
    {
        Response.Redirect("Login");
    }

    int user_id = Convert.ToInt32(Session["user_id"]);

    var db = Database.Open("test");
    string selectWishlist = "SELECT * FROM wishlists where user_id = @0";
    

    Layout = "_Layout.cshtml";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-6">
        <h1 class="page-header">
            Mijn wenslijsten
        </h1>
    </div>
    <div class="col-lg-6">
        <h1 class="page-header">Gereserveerde items</h1>
    </div>
</div>
<!-- /.row -->

<a href="Wishlist_create" class="btn btn-success" role="button">Wenslijst maken</a>
<a href="Wishlist_edit" class="btn btn-success" role="button">Wenslijst aanpassen</a>



@foreach (var wishlist in db.Query(selectWishlist, user_id)){
    <p>@wishlist.name @wishlist.description @wishlist.wishlist_link</p>
}