@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
            <label for="name">Naam wenslijst</label>
            <input type="text" id="name" name="name" placeholder="Naam wenslijst">

            <label for="description">Beschrijving wenslijst</label>
            <input type="text" id="description" name="description" placeholder="Beschrijving wenslijst">

            <button type="submit" name="wishlist_create" class="btn btn-primary" value="wishlist_create">Wenslijst aanmaken</button>
    </body>
</html>
