@{
    if (!Security.IsAuthenticated())
    {
        Response.Redirect("Login");
    }

    Validation.RequireField("name", "Je moet een naam invoeren");

    if (IsPost && Validation.IsValid())
    {
        int user_id = Convert.ToInt32(Session["user_id"]);
        string name = Request.Form["name"];
        string description = Request.Form["description"];
        string wishlist_link = Security.UniqueID();

        var db = Database.Open("test");
        string insertWishlist = "INSERT INTO wishlists (user_id, name, description, wishlist_link) VALUES(@0, @1, @2, @3)";
        db.Execute(insertWishlist, user_id, name, description, wishlist_link);
        db.Close();
        Response.Redirect("Default");
    }

    Layout = "_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 portfolio-item">
        <form class="form-horizontal" method="post">
            
            <div class="form-group">
                <label for="name">Naam wenslijst</label>
                <input class="form-control" type="text" id="name" name="name" placeholder="Naam wenslijst">
                <span style="color: red;">*@Html.ValidationMessage("name")</span>
            </div>

            <div class="form-group">
                <label for="description">Beschrijving wenslijst</label>
                <input class ="form-control" type="text" id="description" name="description" placeholder="Beschrijving wenslijst">
            </div>

            <div class="form-group">
                <button type="submit" name="wishlist_create" class="btn btn-primary" value="wishlist_create">Wenslijst aanmaken</button>
            </div>
        </form>
    </div>
</div>
<a href="Default" class="btn btn-success" role="button">Terug</a>
